---
layout: default
title: GitLab Learn - Continuous Integration
description: "Build your GitLab knowledge in Continuous Integration with GitLab Learn."
suppress_header: true
cta_contact_title: "Believe it"
cta_contact_subtitle: "Get unlimited access to all GitLab features for 30 days. "
cta_contact_button_primary_text: "Start your free trial"
cta_contact_button_primary_url: "/free-trial/"
cta_contact_button_secondary_text: "Contact Sales"
cta_contact_button_secondary_url: "/sales/"
cta_contact_sales_css_class: "lavender"
cta_contact_button_secondary_css_class: "lavender"
disable_default_styles: true
disable_handbook_styles: true
manual_cookiebot: true
canonical_path: "/learn/continuous-integration/"
extra_css:
  - gitlab-learn-topic.css
  - gitlab-topic.css
  - video-carousel.css
extra_js:
  - libs/slick.min.js
  - video-carousel.js
---

.container.slp-container.header-content
  %h1
    GitLab Continuous Integration (CI)
  %h4
    Learn new skills while working with GitLab. Our easy-to-use learning platform provides instructions and feedback throughout your journey!

.container.slp-container.background-color
  .grey-background
  .resources
    %h2
      Watch and Learn
    .learn
      .resource-block
        .single-video-slider
          - data.video_carousel.each do |video|
            -if video.carousel_identifier.include?("CI Learn Carousel")
              = partial "includes/components/video-carousel/video-item", locals: {name: video.name, title: video.title, company: video.company, photourl: video.photourl, videolink: video.video_link}
        .youtube-link 
          %a{:href => 'https://www.youtube.com/watch?v=fWvwkx5_00E&list=PLFGfElNsQthYDx0A_FaNNfUm9NHsK6zED'} Explore Quick GitLab Tutorials →
      .resource-block.resource-links
        .resource
          .icon 
            %img{src: "/images/ci/webcasts-icon.svg", alt: "Webcast icon", style: "max-width: 40px"}
          .text
            %h4.title
              Free Tutorials
            .link 
              %a{:href => 'https://www.youtube.com/embed/ljth1Q5oJoo'} GitLab CI overview demo
              %span.arrow-head →
            .link 
              %a{:href => 'https://www.youtube.com/embed/DvuqGA4FhXM'} Getting started with GitLab
              %span.arrow-head →
            .link 
              %a{:href => 'https://www.youtube.com/embed/0GFEV0r_AC0'} Ease of CI configuration
              %span.arrow-head →
        .resource
          .icon 
            %img{src: "/images/ci/whitepapers-icon.svg", alt: "Whitepapers icon", style: "max-width: 40px"}
          .text
            %h4.title
              Learning Paths
            .link
              %a{:href => 'https://gitlab.edcast.com/pathways/cy-test-pathway-associate-study-exam'} GitLab Certified Associate
              %span.arrow-head →
            .link 
              %a{:href => 'https://gitlab.edcast.com/pathways/cy-test-pathway-associate-study-exam'} GitLab Certified CI/CD Specialist
              %span.arrow-head →
            .link 
              %a{:href => 'https://gitlab.edcast.com/insights/gitlab-learn-lab#'} Advanced GitLab CI
              %span.arrow-head →
        .resource
          .icon 
            %img{src: "/images/ci/casestudies-icon.svg", alt: "Case studies icon", style: "max-width: 40px"}
          .text
            %h4.title
              Hands-on Training
            .link 
              %a{:href => '/services/education/gitlab-basics'} GitLab with Git Basics Training
              %span.arrow-head →
            .link 
              %a{:href => '/handbook/customer-success/professional-services-engineering/gitlab-technical-certifications/#gitlab-certified-devops-professional'} GitLab Certified DevOps Professional
              %span.arrow-head →
            .link 
              %a{:href => '/handbook/customer-success/professional-services-engineering/gitlab-technical-certifications/#gitlab-certified-cicd-specialist'} GitLab Certified CI/CD Specialist
              %span.arrow-head →
        .resource
          .icon 
            %img{src: "/images/ci/reports-icon.svg", alt: "Reports icon", style: "max-width: 40px"}
          .text
            %h4.title
              Recent Release Videos
            .link 
              %a{:href => 'https://youtu.be/KdAiz-eQXw8'} GitLab 14.3 - Support merging CI/CD rules arrays with !reference
              %span.arrow-head →
            .link 
              %a{:href => 'https://youtu.be/fd29OKNfMao'} GitLab 14.2 - Preview Markdown live while editing
              %span.arrow-head →
            .link 
              %a{:href => 'https://youtu.be/KKYxLvEfsBU'} GitLab 14.1 Access the CI/CD template library from the pipeline editor
              %span.arrow-head →
            .link 
              %a{:href => 'https://youtu.be/c09cKL25uHs'} Gitlab 14.0: Prepopulate the CI/CD pipeline editor with an initial template
              %span.arrow-head →
            .link 
              %a{:href => 'https://www.youtube.com/watch?v=1-IbvHU4rTU'} Gitlab 13.12: New Gatsby CI Template
              %span.arrow-head →
            .link 
              %a{:href => 'https://youtu.be/-McVnwPt1z4'} Gitlab 13.11: Use multiple caches in the same job
              %span.arrow-head →

.pricing-page

  .container.slp-container#faq
    .row.faq.text-center.u-padding-top-md.u-padding-bottom-md
      %h2.text-center CI Training & Resources
      .faq-holder.text-left
        = partial 'includes/learn/resources'
  
  .solutions-block.image.image-1
    %img{src: "/images/learn/shared/gitlab-beach-coffee-shop.png", alt: "GitLab Beach Coffee Shop", loading: "lazy"} 

.container.slp-container.info-block
  %h2.title
    Start Learning Now!
  .description 
    Log off and let GitLab’s CI/CD do the heavy lifting with automated workflows for compiling, testing, and staging. From jobs to issues, search it all from a single dashboard that doesn’t quit. We exist to help you work less. 
  %a.btn.cta-btn.orange-light{:href => 'https://about.gitlab.com/blog/2017/03/13/ci-cd-demo/'} Watch demo
    

#ask-us-anything
  .u-padding-top-md
    .container.container2020
      = partial "includes/components/cta-contact"

- data.video_carousel.each do |video|
  -if video.carousel_identifier.include?("CI Learn Carousel")
    = partial "includes/components/video-carousel/video-carousel-modal", locals: {videolink: video.video_link, title: video.title}

